[package]
name = "workout"
version = "0.1.0"
authors = ["Bernhard Leiner <bleiner@gmail.com>"]
build = "build.rs"

[build-dependencies]
lalrpop = "*"
serde_codegen = "*"

[dependencies]
lalrpop-util = "*"
clap = "*"
log = "*"
env_logger = "*"
byteorder = "*"

